@import "styles/style";

.rc-slider * {
  @apply select-none;
}

.rc-slider-disabled {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.rc-slider-dot {
  border-radius: 0 !important;
  height: 27px !important;
  width: 14px !important;
  bottom: 3px !important;
  border: 1px solid transparent !important;
  // gradient background color
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0) 0%,
    rgb(0, 97, 230, 0.42) 30%,
    rgba(239, 40, 40, 0.9) 100%
  ) !important;

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: transform 0.2s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    width: 3px !important;
  }

  z-index: var(--var-correct-zindex, 1);

  &::before {
    content: var(
      --var-dot-value,
      var(--var-guess-value, var(--var-correct-value))
    );
    top: -45px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 600;
    color: var(--var-guess-color, var(--text-color-primary));
    filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.69)) contrast(1.2);
    background: #fff;
    padding: 2.4px 4.2px;
    border-radius: 4.2px;
    // reset to default cursor
    cursor: default;
  }
}

$rhap_theme-color: #399152 !default; // Color of all buttons and volume/progress indicators
$rhap_background-color: #fff !default; // Color of the player background
$rhap_bar-color: #484747 !default; // Color of volume and progress bar
$rhap_time-color: #250011 !default; // Font color of current time and duration
$rhap_font-family: inherit !default; // Font family of current time and duratio

@import "react-h5-audio-player/src/styles.scss";

.rhap_container {
  @include text-bg;
  z-index: 10;
  border-radius: 0.5rem;
  line-height: unset !important;
}

.rhap_controls-section {
  flex-direction: row-reverse;
}

.rhap_additional-controls {
  justify-content: flex-end;
}

.rhap_volume-controls {
  justify-content: flex-start !important;
}
