.wrap {
    /*todo modularize with final-results*/
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}

.yearPickerWrap {
    max-width: 420px;
    width: 100%;
    min-width: 100%;
    position: relative;
    display: block;
    margin-top: 35px;
}
