.fieldset {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  display: block;
  width: 100%;
}

.legend {
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto;
  color: #2d332d;
  text-shadow: 0 0 1px #2d332d;
  mix-blend-mode: difference;
}

.audioPlayer {
  margin: 60px auto;
  max-width: 420px;
}
