@import "../styles/mixins";

.fieldset {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 420px;
}

/*todo rip this apart, make it pretty and modular, use a mixin with other text areas*/
.legend {
  @include text-style;
  font-weight: 900;
  font-size: 1.42rem;
  margin: 0 auto;
  display: block;
  flex-flow: row nowrap;
  position: relative;
  width: auto;
}

.label {
  color: #6b6b6b !important;
}

.audioPlayer {
  margin: 42px auto;
  max-width: 420px;
  width: 100%;
  
  @media screen and (max-width: 768px) {
    margin: 15px auto;
  }
}

.yearPickerWrap {
  max-width: 420px;
  width: 100%;
  min-width: 100%;
  position: relative;
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}