/* see globals.scss for overrides */
.yearSliderTick {
  /*for when a tick is a year*/
  color: #fffbfb;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(0px 0px 2px #000000);
  /*  do not allow highlighting*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
