// section style
.section {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-4;
}